
  body
  {
	font-family: "Arial";
	color: black;
	width: 600px;
  }
  
  h1
  {
	color: red;
  }
  
  h2
  {
	color: black;
  }
  
  li
  {
	font-family: "Courier New";
	color: red;
	font-size: large;
	font-weight: bold;
  }
  
  p
  {
	font-weight: bold;
  }
